<h1>Pickup Art Auction</h1>

<p>
	In Spring 2013, <a href="http://onesinalifetime.com">Ones in a Lifetime</a> is holding a one-of-a-kind Internet art auction for charity. Each remarkable piece in the auction will be built entirely out of found or recycled materials, showcasing the artist's ingenuity and creative vision, forging art out of the fragmentary elements of our modern world.

	If you are an artist or maker and would like to participate, please <a href="mailto:john@onesinalifetime.com">contact us</a>.
