<% provide(:title, 'Pickup Art Auction') %>
<div id="header">
	<h1>Pickup Art Auction</h1>
</div>

<div id="content">
	<p>
		In Spring 2013, <a href="http://onesinalifetime.com">Ones in a Lifetime</a> is holding a one-of-a-kind online art auction to benefit <a href="http://www.charitywater.org">charity:water</a>.
	</p>
	<div class="video_box">
		<iframe width="640" height="360" src="http://www.youtube.com/embed/BCHhwxvQqxg" frameborder="0" allowfullscreen></iframe>
	</div>
	<p>
		No, the pickup art in our auction isn't a showcase of paintings by sleazy lounge lizards. We're auctioning pieces of art created entirely out of found and recycled materials <em>picked up</em> by the sculptors, collagists, and junkyard Dr. Frankensteins who are joining us in this project. Each piece showcases its creator's ingenuity, as they forge art out of the discarded and ignored pieces of the world around them. And 100% of the sales price for each piece goes directly toward building clean water systems in developing countries.
	</p>
	<p>
		If you are an artist who would like to participate, or just want to learn more, please <a href="mailto:john@onesinalifetime.com">contact us</a>!
	</p>
</div>

<div id="footer">
	<p>background pattern by <a href="http://www.petrsulc.com">petr sulc</a></p>
</div>
