<% provide(:title, 'Pickup Art Auction') %>
<div id="header">
	<h1>Pickup Art Auction</h1>
</div>

<div id="content">
	<p>
		In Spring 2013, <a href="http://onesinalifetime.com">Ones in a Lifetime</a> is holding a one-of-a-kind online art auction to benefit [ ]. The "Pickup Art" on display will be constructed entirely out of found or recycled materials "picked up" by the artists themselves. Each piece showcases its creator's ingenuity and unique vision, as they forge art out of the discarded and ignored pieces of the world around them.
	</p>
	<p>
		If you are an artist who would like to participate, or just want to learn more, please <a href="mailto:john@onesinalifetime.com">contact us</a>.
	</p>
</div>
